@import "normalize.css";

body {
  margin: 0 auto;
  background-color: rgb(214, 218, 225);
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
}

main {
  padding: 40px;
  min-height: 500px;
}

header {
  padding: 0px 30px;
}

#item-box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  margin: 15px 0;
  justify-items: center;
  width: 100%;
  max-width: 1200px;
}

.modal-content {
  position: relative;
  background-color: white;
  padding: 20px;
  border-radius: 6px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  width: 500px;
  height: 700px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 14px;
  overflow: hidden;
}

.modal-content p {
  text-align: center;
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 40px;
  cursor: pointer;
}

footer {
  font-size: 14px;
  color: rgb(148, 148, 148);
  bottom: 0px;
  left: 38%;
  text-align: center;
  position: static;
}

@media (max-width: 600px) {
  #item-box-container {
    grid-template-columns: 1fr;
    gap: 10px;
  }
}
